@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../gllacy/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: auto;
  font-weight: 400;
  src: url("../gllacy/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../gllacy/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: #2D3440;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFFFFF;
}

.pink-theme {
  background-color: #FEAFC3;
}

.blue-theme {
  background-color: #69A9FF;
}

.yellow-theme {
  background-color: #FCC850;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
}
