@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: auto;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: #2D3440;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main {
  flex-grow: 1;
}

.theme-pink {
  background-color: #FEAFC3;
}

.theme-blue {
  background-color: #69A9FF;
}

.theme-yellow {
  background-color: #FCC850;
}

.button {
  padding: 12px 32px;
  border: 0;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-color: #FCFCFC;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440,
              0 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC,
              0 4px 15px rgba(133, 133, 133, 0.15);
  cursor: pointer;
}

.button:active {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440,
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  background-color: #E7E7E7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
  pointer-events: none;
}

.button-red {
  background-color: #FF2F64;
  color: #FCFCFC;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-red:focus {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: none;
}

.button-red:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FF2F64;
}

.button-red:active {
  color:  #FCFCFC;
  background-color: #FEAFC3;
}

.button-red:disabled {
  color:  #565C66;
  background-color: #B9B9B9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  pointer-events: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
}


.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  flex-shrink: 0;
  margin: -5px 16px 0 0;
  border-radius: 8px;
  transform: translateY(5px);
  pointer-events: none;
}

.navigation {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  width: 550px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 10px 0;
  line-height: 20px;
  list-style: none;
  width: 575px;
  flex-shrink: 0;
}

.menu-item {
  position: relative;
  z-index: 2;
}


.menu-link {
  display: block;
  margin: 0;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  background: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:  #2D3440;
  position: relative;
}

.menu-item-pay {
  margin-left: 7px;
}

.menu-link-catalog {
  display: block;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 32px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  background: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:  #2D3440;
  position: relative;
}


.menu-link-dropdown {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  align-self: center;
  background-position: 1px;
  top: 11px;
  left: 85px;
}

.menu-sublist {
  position: absolute;
  display: none;
  min-width: 138px;
  margin: 8px 0 0;
  background-color: #FCFCFC;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  list-style: none;
}


.menu-sublist-link {
  display: block;
  padding: 6px 16px;
  color: #2D3440;
  text-decoration: none;
}

.menu-sublist-link-new {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
}

.menu-sublist-break {
  margin: 4px 16px;
}

.interaction {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 440px;
  gap: 15px;
  padding: 12px 0;
}

.interaction-phone {
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px;
  margin: -2px -5px -2px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.interaction-phone:hover {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
  cursor: pointer;
}

.menu-link-catalog:hover {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
  cursor: pointer;
}

.menu-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
  cursor: pointer;
}

.interaction-phone:focus,
.menu-link:focus,
.menu-link-catalog:focus  {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}

.interaction-phone:active,
.menu-link:active,
.menu-link-catalog:active  {
  background-color: #FCFCFC;
}

.menu-item-dropdown:focus-within .menu-link-catalog {
  background-color:  #FF4A78;
  color: #FCFCFC;
}

.menu-item-dropdown:focus-within .menu-link-dropdown {
  background-image: url(../images/arrow-up.svg);
}

.menu-sublist-link:focus {
  background-color: #FFCBD8;
  outline: none;
}

.menu-sublist-link:hover {
  background-color: #FFCBD8;
  outline: none;
}

.menu-sublist-link:active {
  background-color: #FF7799;
  outline: none;
}

.menu-sublist-link.current {
  background-color: #FF4A78;
  outline: none;
}

.dropdown {
  flex-shrink: 0;
  position: relative;
}


.dropdown-button {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  border: 0;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 6px 17px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.dropdown-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}

.dropdown-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}

.dropdown-button:active {
  background-color: rgba(252, 252, 252, 1);
}

.dropdown:focus-within .dropdown-button {
  background-color:  #FF4A78;
  color: #FCFCFC;
}

.dropdown:focus-within .dropdown-img {
  color: #E7E7E7;
}

.dropdown-img {
  margin-right: 7px;
}

.dropdown-button-search {
  padding: 6px;
}


.dropdown-button-search .dropdown-img{
  margin: 0;
}

.menu-item:focus-within .menu-sublist {
  display: block;
}

.dropdown:focus-within .dropdown-form {
  display: block;
}

.dropdown-form {
  position: absolute;
  background-color: #FCFCFC;
  right: 0;
  padding: 48px 48px 53px 48px;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 2;
}

.dropdown-form-search {
  padding: 24px 16px;
  display: none;
}

.dropdown-form-sign-in {
  display: none;
}

.dropdown-form-cart {
  display: none;
}

.dropdown-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0 0 32px;
}

.dropdown-input {
  padding: 13px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  background-color: #FFFFFF;
  width: 324px;
}

.dropdown-input:focus {
  outline: 2px solid #2D3440;
}

.dropdown-input:hover {
  color: #2D3440;
  border: 1px solid #2D3440;
  cursor: pointer;
}

.dropdown-input.is-error {
  border: 1px solid #EA5454;
}

.dropdown-input.is-error:hover {
  border: 2px solid #EA5454;
}

.dropdown-input:disabled {
  color: #2D3440;
  opacity: 0.65;
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.dropdown-input:disabled:hover {
  color: #2D3440;
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.dropdown-label:not(:last-of-type) {
  display: block;
  margin-bottom: 16px;
}

.dropdown-sign-in-elements {
  display: flex;
  margin-top: 32px;
  gap: 23px;
  align-items: end;
}

.dropdown-link {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  text-underline-offset: 4px;
  color: #2D3440;
}

.dropdown-link:last-child {
  margin-bottom: 0;
}

.dropdown-form-cart {
  min-width: 345px;
}

.dropdown-cart-list {
  margin: 0;
  padding: 0 0 32px;
  border-bottom: 1px solid #E7E7E7;
  list-style-type: none;
  margin-bottom: 32px;
}

.dropdown-cart-item {
  display: flex;
  margin-bottom: 24px;
}

.dropdown-cart-item:last-child {
  margin-bottom: 0;
}

.dropdowm-cart-link {
  display: grid;
  grid-template-columns: 46px 106px 99px;
  gap: 16px;
  text-decoration: none;
  margin-right: 42px;
  position: relative;
}

.cart-description-name {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.cart-description-quantity {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  margin: 0;
  padding: 0;
}

.dropdown-cart-price {
  display: grid;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.cart-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown-cart-total-price {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.cart-button-delete {
  width: 16px;
  height: 16px;
  border: 0;
  background-image: url(../images/cart-button-delete.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  margin-top: 14px;
}

.cart-button-delete:hover,
.cart-button-delete:focus {
  cursor: pointer;
  border-radius: 4px;
  color: #2D3440;
  box-shadow: 0 0 0 2px #2D3440;
}

.cart-button-delete:focus {
  opacity: 0.4;
  outline: none;
}

.cart-button-delete:active {
  opacity: 0.2;
}

.cart-button {
  margin-right: 19px;
}

.recommended-items {
  margin-bottom: 80px;
}

.slider-list {
  display: flex;
  align-items: flex-start;
  gap: 41px;
  padding-top: 22px;
  overflow-x: hidden;
  position: relative;
}

.slider-item {
  display: flex;
  flex-shrink: 0;
  align-items: start;
  margin: 180px 0 2px;
  width: 100px;
  height: 150px;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.4;
}

.slider-item.active {
  width: 870px;
  height: auto;
  opacity: 1;
  margin: 0 15px 2px 0;
  order: -1;
}

.slider-content {
  display: none;
  width: 440px;
  margin-right: 50px;
  padding-top: 115px;
  padding-left: 70px;
}

.slider-item.active .slider-content {
  display: block;
}

.slider-button-order {
  display: block;
  max-width: max-content;
}


.theme-pink .slider-image-container {
  background-image: url(../images/circle-pink.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.theme-blue .slider-image-container {
  background-image: url(../images/circle-blue.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.theme-yellow .slider-image-container {
  background-image: url(../images/circle-yellow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-item .slider-image-container {
  background-size: 100%;
}

.slider-item.active .slider-image-container {
  width: 312px;
  background-size: 100%;
}


.slider-image {
  display: block;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  object-fit: contain;
}

.slider-item.active .slider-image {
  max-height: none;
}

.slider-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.slider-description {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  margin: 0 0 48px 0;
  padding: 0;
}


.slider-interaction {
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.slider-button {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  color: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 257px;
  left: 542px;
}


.slider-button-next {
  left: 854px;
}

.slider-button:hover {
  background-color: #FCFCFC;
  color: #2D3440;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
  color: #2D3440;
  outline: none;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: #2D3440;
  border: none;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  opacity: 0.4;
  pointer-events: none;
}

.slider-pagination {
  display: grid;
  grid-template-columns: repeat(3, 12px);
  gap: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  border-color: #FCFCFC;
  opacity: 0.3;
  cursor: pointer;
}

.slider-pagination-button.active {
  opacity: 1;
}

.slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 1;
}

.slider-pagination-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  outline: none;
  opacity: 0.5;
}

.slider-pagination-button:active {
  background-color: #FCFCFC;
  opacity: 0.5;
  border: none;
}

.slider-pagination-button:disabled {
  pointer-events: none;
}

.slider-socials {
  display: grid;
  grid-template-columns: repeat(3, 24px);
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 104px;
}

.slider-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
  text-decoration: none;
  margin: -2px;
  padding: 2px;
  color:  inherit;
}

.slider-social-link:focus {
  border-color: #2D3440;
  background-color: #2D3440;
  outline: none;
}

.slider-social-link:hover {
  border: 2px solid rgba(252, 252, 252, 0.5);
  background-color: #2D3440;
}

.slider-social-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: -2px;
  color: #FCFCFC;
}

.gifts-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  grid-column: span 2;
  margin: 0 auto 24px auto;
  max-width: 434px;
  text-align: center;
}

.gifts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 81px;
}

.gifts-item {
  display: flex;
  flex-direction: column;
  padding: 36px 206px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
}

.gifts-item-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0 0 28px 0;
  padding: 0;
}

.gifts-item-description {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  margin: 0 0 28px 0;
  padding: 0;
}

.gifts-item-image {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
}

.gifts-button {
  display: block;
  max-width: max-content;
}

.popular {
  margin-bottom: 80px;
}

.popular-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0 auto 106px auto;
  max-width: 50%;
  text-align: center;
}

.poplular-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #FCFCFC;
  padding: 24px 40px;
  align-items: center;
}

.popular-item-image {
  order: -1;
  display: block;
  width: 168px;
  height: 168px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 50%;
  margin-bottom: 16px;
  margin-top: -74px;
}

.popular-item-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.popular-item-description {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}

.popular-container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.popular-price {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.popular-button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: #FF2F64;
  border: 2px solid #FF2F64;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FCFCFC;
}

.popular-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}

.popular-button:focus {
  background-color: #FF2F64;
  color: #FCFCFC;
  border: 2px solid #2D3440;
  outline: none;
}

.popular-button:active {
  background-color: #FFCBD8;
  color: #2D3440;
  border: 2px solid #FF2F64;
}

.popular-button:disabled {
  background-color: #B9B9B9;
  color: #565C66;
  border: 2px solid #B9B9B9;
  pointer-events: none;
}

.about-us {
  background-color: #FF2F64;
  background-image: url(../images/about-us-border-waffle.jpg);
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.about-us-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  grid-column: span 2;
  margin: 0 auto 16px auto;
  text-align: center;
}

.about-us-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}


.about-us-text {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding-left: 64px;
  position: relative;

}

.about-us-text::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  box-sizing: border-box;
  background-size: 32px 32px;
}


.about-us-text-ice-cream::before {
  background-image: url(../images/ice-cream.svg);
}
.about-us-text-cow::before {
  background-image: url(../images/cow.svg);
}
.about-us-text-natural::before {
  background-image: url(../images/natural.svg);
}
.about-us-text-temperature::before {
  background-image: url(../images/temperature.svg);
}
